.editBlog {
    width: 80%;
    position: absolute;
    right: 0%;
    top: 0%;
    margin-top: 100px;

    input {
        height: 45px;
        width: 250px;
        border: 1px rgb(247, 181, 181) solid;
        margin-top: 10px;
        margin-left: 10px;
    }

    button {
        height: 45px;
        width: 250px;
        background-color: rgb(247, 181, 181);
        border: 1px rgb(247, 181, 181) solid;
        border-radius: 5px;
        color: white;
        font-size: 1rem;
        margin-left: 10px;
        margin-top: 0px;
    }
}