.products{
    width: 80%;
    position: absolute;
    right: 0%;
    top: 0%;
    .table {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        margin: auto;
        margin-top: 100px;

        table {
            width: 100%;


            tr {
                border-bottom: 1px rgb(225, 221, 221) solid;
                text-align: left;

                th {
                    margin-left: 30px;
                    font-weight: 400;
                    font-size: 17px;
                    font-style: normal;
                    color: rgb(0, 0, 0);
                    line-height: 23.001px;
                    text-decoration: none;
                    transform: uppercase;
                    font-family: latoRegular;
                    letter-spacing: 1.275px;
                    text-align: center;
                }
            }

            tr {
                width: 100%;
                text-align: center;

                .x {
                    font-weight: lighter;
                    font-size: 20px;
                    font-style: normal;
                    color: rgb(194, 191, 191);
                    line-height: 0px;
                    text-decoration: none;
                    transform: none;
                    font-family: latoRegular;
                    letter-spacing: 0;
                    cursor: pointer;
                }

                .img {
                    display: flex;
                    align-items: center;
                    margin: 0%;
                    padding: 0%;
                    margin-left: 100px;
                    margin-top: 20px;


                    img {
                        height: 130px;
                        width: 100px;
                    }

                    h5 {
                        font-weight: 500;
                        font-size: 17px;
                        font-style: normal;
                        color: rgb(0, 0, 0);
                        line-height: 23px;
                        text-decoration: none;
                        transform: none;
                        font-family: Cormorant;
                        letter-spacing: 0;
                        margin-left: 15px;
                    }
                }


                button {
                    background-color: rgba(0, 0, 0, 0);
                    height: 50px;
                    width: 50px;
                    border: 1px rgb(180, 179, 179) solid;
                }
.edit{
    width: 150px;
    height: 35px;
    border: 1px black solid;
    background-color: black;
    color: white;
}
            }

        }
    }
    .addbtn{
        margin-top: 30px;
        margin-left: 30px;
        button{
            background-color: black;
            color: white;
            height: 35px;
            width: 120px;
            font-size: 14px;
        }
    }
}